$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

$cl-main: #1A6FE0;

$gmaps-height: 300px;
$gmaps-height-detail: 200px;

.relative{ position: relative; }
.navbar{
  background: $cl-main;
  color: white;
  height: 45px;
  min-height: 0;
  padding: 6px 1px;
  position: fixed;
  width: 100%;
  top : 0;
  border-radius: 0;
  z-index: 999;

  h2{
    position: absolute;
    top: 0;
    margin: 0;
    right: 75px;
    left: 85px;
    text-align: center;
    white-space: nowrap;
    font-size: 20px;
    line-height: 1.5;
  }

  a{
    display: inline-block;
    background-color: $cl-main;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    padding: 12px;
    margin-top: -7px;

    &:hover, &:focus{
      text-decoration: none;
      color: white;
    }
  }
}

section{
  overflow: hidden;
  margin-bottom: 15px;
}

.view-container{
  padding: 70px 0 10px 0;
}

#map-canvas{
  width: 100%;
  height: $gmaps-height;

  .angular-google-map-container {
    height: $gmaps-height;
  }
}

#map-canvas-detail{
  width: 100%;
  height: $gmaps-height-detail;

  .angular-google-map-container {
    height: $gmaps-height-detail;
  }
}



$cl-loading-bar: #cc7414;

#loading-bar .bar {
  background : $cl-loading-bar;
  height: 4px;
}

#loading-bar .peg {
  height: 4px;
  box-shadow: $cl-loading-bar 1px 0 6px 1px;
}

#loading-bar-spinner {
  top: 12px;
  left: 10px;
}

#loading-bar-spinner .spinner-icon {
  width             : 22px;
  height            : 22px;
  border-top-color  : $cl-loading-bar;
  border-left-color : $cl-loading-bar;
  border-width: 4px;
}


.additional-info{
  span{font-weight: bold;}
}

.sort-active{
  &:after{
    display: inline-block;
    content: "^";
    margin-left: 5px;
  }

  &.reverse:after{
    content: "v";
  }
}




@media (max-width: $screen-xs-max) {
  .margin-top-xs{ margin-top: 15px; }
  .container{ padding-left: 5px; padding-right: 5px; }
}
