

<section class="controls">
  <div class="col-sm-6">
    <div class="row">
      <div class="col-xs-6">
        <input class="form-control" placeholder="City..." type="text" ng-model="search.city"/>
      </div>

      <div class="col-xs-6">
        <select class="form-control" ng-model="search.language" ng-options="lang.text for lang in languages">
        </select>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="row margin-top-xs">
      <div class="col-xs-6">
        <select class="form-control" ng-model="search.population" ng-options="pop.text for pop in population">
          <option value="">-- Population --</option>
        </select>
      </div>

      <div class="col-xs-6">
        <select class="form-control" ng-model="search.country" ng-options="country.name for country in countries">
          <option value="">-- Country --</option>
        </select>
      </div>
    </div>
  </div>
</section>

<section class="map">
  <div class="col-sm-12">
    <div id="map-canvas">
      <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" events="map.events">
        <ui-gmap-markers models="markers" coords="'self'" click="onClick()" fit="true">
          <ui-gmap-windows show="'show'">
            <div ng-non-bindable>{{title}}</div>
          </ui-gmap-windows>
        </ui-gmap-markers>

        <ui-gmap-rectangle visible="rectangle.show" bounds="rectangle.bounds" fill="'#FFFFFF .5'" draggable="true" editable="true"></ui-gmap-rectangle>
      </ui-gmap-google-map>
    </div>
  </div>
</section>
<p class="text-center">
  <small ng-hide="rectangle.show" class="text-muted">Click on the map to create a limited rectangle area of results...</small>
  <button ng-show="rectangle.show" class="btn btn-danger" ng-click="rectangle.show = false">Remove rectangle</button>
</p>

<p class="text-center">
  <a ng-click="Search()" ng-disabled="config.loading" class="btn btn-primary btn-lg" href="">Search</a>
</p>

<section class="results">
  <table class="table table-hover" ng-show="results && results.length">
    <thead>
      <tr>
        <th><a ng-click="order('')"> - </a></th>
        <th><a ng-class="{'sort-active': sorting.predicate == 'city.value', 'reverse':sorting.reverse}" class="link" ng-click="order('city.value')">City</a></th>
        <th><a ng-class="{'sort-active': sorting.predicate == 'country.value', 'reverse':sorting.reverse}" class="link" ng-click="order('country.value')">Country</a></th>
        <th><a ng-class="{'sort-active': sorting.predicate == 'population.value', 'reverse':sorting.reverse}" class="link" ng-click="order('population.value')">Population</a></th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="city in results | orderBy:sorting.predicate:sorting.reverse" ng-click="GetDetail(city.id.value)">
        <td></td>
        <td>{{ city.name.value }}</td>
        <td>{{ city.country_name.value }}</td>
        <td>{{ city.population.value }}</td>
      </tr>
    </tbody>
  </table>
</section>
